//
//  Bitcode.xcconfig
//
//  Copyright © 2015 Twitter. All rights reserved.
//

ENABLE_BITCODE = NO

OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -fembed-bitcode -Wno-error=unused-command-line-argument
OTHER_CFLAGS[sdk=watchos*] = $(inherited) -fembed-bitcode -Wno-error=unused-command-line-argument
OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -fembed-bitcode -Wno-error=unused-command-line-argument
